.navbar-default {
	background-color: rgba(255,255,255,0);
	border-color: transparent;
	box-shadow: 1px 1px 15px rgba(0,0,0,0);
	-webkit-transition: 0.7s;
	transition: 0.7s;
	transition-timing-function: ease;
}
@media (max-width: 768px) {
	.navbar-default .navbar-nav>.open>a,.nav>li>a:hover, .nav>li>a:focus {
		background-color: transparent;
	}
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
		color: #fff; 
		background-color: transparent;
	}
	.navbar-default {
		background-color: rgba(0,0,0,0.5);
		border-color: rgba(0,0,0,0.5);
	}
	.navbar-default .navbar-brand {
		color: #fff;
		font-size: 20px;
	}
	.navbar-default .navbar-brand:hover {
		color: #fff;
		text-shadow: 0px 0px 15px rgba(249, 249, 249, 0.8);
	}
	.navbar-default .navbar-nav>li>a {
		color: #fff;
		font-size: 18px;
	}
	.navbar-default .navbar-nav>li>a:hover {
		color: #fff;
		text-shadow: 0px 0px 15px rgba(249, 249, 249, 0.8);
	}
}
@media (min-width: 769px) and (max-width: 992px) {
	.navbar-default.scrolled {
		background-color: rgba(255,255,255,1);
		border-color: rgba(255,255,255,1);
		box-shadow: 1px 1px 15px rgba(0,0,0,0.5);
		-webkit-transition: 0.7s;
    	transition: 0.7s;
	}
	.nav.navbar-nav {
		padding-top: 60px;
		-webkit-transition: 0.7s;
    	transition: 0.7s;
	}
	.navbar-header {
		padding-top: 0px;
		-webkit-transition: 0.7s;
    	transition: 0.7s;
	}
	.navbar-header > a > img{
		width: 230px;
		-webkit-transition: 0.7s;
    	transition: 0.7s;
	}
	.navbar-header.scrolled > a > img{
		width: 0px;
		-webkit-transition: 0.7s;
    	transition: 0.7s;
	}
	.navbar-header > a > h5{
		font-size: 14px;
		margin-top:0px;
		-webkit-transition: 0.7s;
    	transition: 0.7s;
	}
	.navbar-header.scrolled > a > h5{
		font-size: 10px;
		margin-top:-10px;
		-webkit-transition: 0.7s;
    	transition: 0.7s;
	}
	.navbar-header.scrolled , .nav.navbar-nav.scrolled{
		padding-top: 0px;
		font-weight: normal;
		-webkit-transition: 0.7s;
    	transition: 0.7s;
	}
	.navbar-default .navbar-brand{
		text-shadow: 0px 0px 10px rgba(0,0,0,0.7);
		font-size: 40px;
		color: #fff;
		-webkit-transition: 0.7s;
    	transition: 0.7s;
	}
	.navbar-default .navbar-brand.scrolled {
		text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
		font-size: 20px;
		color: #fff;
		background: #FF4500;
		-webkit-transition: 0.7s;
    	transition: 0.7s;
	}
	.navbar-default .navbar-nav>li>a {
		color: #fff;
		text-shadow: 0px 0px 5px rgba(0,0,0,0.7);
		font-size: 18px;
		padding: 15px 15px;
		-webkit-transition: 0.7s;
    	transition: 0.7s;
	}
	.navbar-default .navbar-nav.scrolled>li>a {
		text-shadow: 0px 0px 2px rgba(0,0,0,0.3);
		color: #777;
		font-size: 16px;
		padding: 15px 15px;
		-webkit-transition: 0.7s;
    	transition: 0.7s;
	}
}
@media (min-width: 993px) {
	.navbar-default.scrolled {
		background-color: rgba(255,255,255,1);
		border-color: rgba(255,255,255,1);
		box-shadow: 1px 1px 15px rgba(0,0,0,0.5);
		-webkit-transition: 0.7s;
    	transition: 0.7s;
    	transition-timing-function: ease;
	}
	
	.nav.navbar-nav {
		padding-top: 60px;
		-webkit-transition: 0.7s;
    	transition: 0.7s;
    	transition-timing-function: ease;
	}
	
	.navbar-header {
		padding-top: 0px;
		-webkit-transition: 0.7s;
    	transition: 0.7s;
    	transition-timing-function: ease;
	}
	
	.navbar-header > a > img{
		width: 230px;
		-webkit-transition: 0.7s;
    	transition: 0.7s;
    	transition-timing-function: ease;
	}
	
	.navbar-header.scrolled > a > img{
		width: 0px;
		-webkit-transition: 0.7s;
    	transition: 0.7s;
    	transition-timing-function: ease;
	}
	
	.navbar-header > a > h5{
		font-size: 14px;
		margin-top:0px;
		-webkit-transition: 0.7s;
    	transition: 0.7s;
    	transition-timing-function: ease;
	}
	
	.navbar-header.scrolled > a > h5{
		font-size: 10px;
		margin-top:-10px;
		-webkit-transition: 0.7s;
    	transition: 0.7s;
    	transition-timing-function: ease;
	}
	
	.navbar-header.scrolled , .nav.navbar-nav.scrolled{
		padding-top: 0px;
		font-weight: normal;
		-webkit-transition: 0.7s;
    	transition: 0.7s;
    	transition-timing-function: ease;
	}
	
	.navbar-default .navbar-brand{
		text-shadow: 0px 0px 10px rgba(0,0,0,0.7);
		font-size: 40px;
		color: #fff;
		-webkit-transition: 0.7s;
    	transition: 0.7s;
    	transition-timing-function: ease;
	}
	
	.navbar-default .navbar-brand.scrolled {
		text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
		font-size: 20px;
		color: #fff;
		background: #FF4500;
		-webkit-transition: 0.7s;
    	transition: 0.7s;
    	transition-timing-function: ease;
	}
	
	.navbar-default .navbar-nav>li>a {
		color: #fff;
		text-shadow: 0px 0px 5px rgba(0,0,0,0.7);
		font-size: 18px;
		padding: 15px 40px;
		-webkit-transition: 0.7s;
    	transition: 0.7s;
    	transition-timing-function: ease;
	}
	
	.navbar-default .navbar-nav.scrolled>li>a {
		text-shadow: 0px 0px 2px rgba(0,0,0,0.3);
		color: #777;
		font-size: 16px;
		padding: 15px 15px;
		-webkit-transition: 0.7s;
    	transition: 0.7s;
    	transition-timing-function: ease;
	}
}